# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/
.conda/
venvs/

# Logs and experimental outputs
logs/
*.log

# OS/editor
.DS_Store
.vscode/
.idea/

# Archives
*.zip
*.tar.gz
